.home {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    &__text-wrapper {
      display: flex;
      justify-content: center;
  
      h1 {
        color: var(--yellow-theme-main-color);
        margin: 0;
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 17rem;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        animation: typingEffectAnimation 2.5s steps(30, end);
      }
    }
  
    &__contact-me {
      display: flex;
      justify-content: center;
      margin-top: 15px;
  
      button {
        cursor: pointer;
        padding: 10px 65px;
        font-size: 2rem;
        background: transparent;
        color: var(--yellow-theme-main-color);
        border: 1.5px solid var(--yellow-theme-main-color);
        border-radius: 4px;
        font-weight: 500;
  
        &:hover {
          background: var(--yellow-theme-main-color);
          color: black;
        }
      }
    }
  
    @media only screen and (max-width: 550px) {
      /* Styles for screens up to 550px wide (e.g., mobile) */
      &__text-wrapper h1 {
        font-size: 2.5rem; /* Adjust font size for mobile */
        line-height: 3.5rem; /* Adjust line height for mobile */
      }
    }
  
    @media only screen and (min-width: 551px) and (max-width: 768px) {
      /* Styles for screens between 551px and 768px wide (e.g., tablets) */
      &__text-wrapper h1 {
        font-size: 3rem; /* Adjust font size for tablets */
        line-height: 5rem; /* Adjust line height for tablets */
      }
    }
  
    @media only screen and (min-width: 769px) and (max-width: 990px) {
      /* Styles for screens between 769px and 990px wide */
      &__text-wrapper h1 {
        /* Adjust font size and line height for larger screens if needed */
      }
    }
  
    @keyframes typingEffectAnimation {
      from {
        width: 0;
      }
  
      to {
        width: 100%;
      }
    }
  }
  