.certificate {
    &__content {
      padding: 20px;
      width: 100%;
  
      &__filter {
        display: inline-block;
        margin: 0 auto;
        border-radius: 25px;
        border: 1px dashed var(--yellow-theme-main-color);
  
        li {
          font-size: 16px;
          display: inline-block;
          cursor: pointer;
          position: relative;
          color: var(--yellow-theme-main-color);
          text-transform: uppercase;
          padding: 12px 20px;
          overflow: hidden;
          transition: all 0.5s ease;
  
          &.active {
            background: var(--yellow-theme-main-color);
            color: var(--yellow-theme-sub-text-color);
            font-weight: 600;
            border-radius: 25px;
          }
        }
      }
  
      &__cards {
        display: inline-flex;
        // grid-template-columns: repeat(3, 1fr);
        // grid-auto-rows: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        margin-top: -2px;
  
        &__item {
          height: 250px;
          cursor: pointer;
          position: relative;
          margin-top: 20px;
  
          &:hover .overlay{
            opacity: 1;
          }
  
          &__img-wrapper {
            height: 100%;
  
            a {
             height: 100%;
              // display: flex;
              // align-items: flex-end;
              // padding-bottom: 10px;
  
              img {
                height: inherit;
                width: 100%;
                object-fit: cover;
              }
            }
          }
          .overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: 0.5s ease;
            background-color: #848884;
  
            div{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              text-align: center;
  
              p{
                color:black;
                margin: 0px;
                font-size: 4rem;
                position: relative;
                overflow: hidden;
                white-space: nowrap;
                animation: typingEffect 1s steps(30,end);
              }
  
              button{
                cursor: pointer;
                margin-top: 16px;
                padding: 10px 70px;
                font-size: 2rem;
                background: transparent;
                color: black;
                border: 1.5px solid black;
                border-radius: 4px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
  
  
  @media only screen and (max-width: 480px){
    .certificate__content__filter > li{
      font-size: 11px;
    }
    .certificate__content__cards{
      grid-template-columns: repeat(1,1fr);
    }
  }
  
  @media only screen and (min-width: 481px) and (max-width:767px){
    .certificate__content__filter > li{
      font-size: 14px;
    }
    .certificate__content__cards{
      grid-template-columns: repeat(2,1fr);
  
      &__item{
  
        .overlay{
          div > p{
            font-size: 2.5rem;
          }
        }
      }
  
  
    }
  }
  
  @keyframes typingEffect {
    from{
      width: 0;
    }
  
    to{
      width: 100%;
    }
    
  }
  